.surfingkeys_css_reset * {
    all: initial;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.surfingkeys_css_reset div {
    display: block;
}
#surfingkeys_popover {
    background-color: #000;
    padding: 0.5rem;
    position: fixed;
    left: 0px;
    top: -3rem;
    z-index: 2147483646;
    width: 100%;
}
#surfingkeys_keystroke {
    background-color: #000;
    padding: 0.5rem;
    position: fixed;
    float: right;
    bottom: 0px;
    right: -2rem;
    z-index: 2147483646;
}
#surfingkeys_status {
    display: none;
    z-index: 2147483646;
    left: 60%;
    background-color: #000;
    position: fixed;
    bottom: 0px;
    padding: 4px 8px 0 8px;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #777;
    font-size: 12px;
}
#surfingkeys_omnibar, #surfingkeys_Usage {
    overflow: auto;
    display: none;
    position: fixed;
    width: 80%;
    max-height: 80%;
    top: 10%;
    left: 10%;
    background: #000;
    text-align: left;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
    border: 1px solid #222;
    z-index: 2147483646;
}
#surfingkeys_Usage {
    padding: 1rem;
}
#surfingkeys_Usage * {
    background: #000;
    font-size: 10pt;
}
.surfingkeys_css_reset table {
    display: table;
    width: 100%;
}
.surfingkeys_css_reset tbody {
    display: table-row-group;
}
.surfingkeys_css_reset tr {
    display: table-row;
}
.surfingkeys_css_reset td, th {
    display: table-cell;
}
#surfingkeys_Usage td.keyboard {
    text-align: right;
    padding: 2px 8px;
}
#surfingkeys_Usage kbd {
    white-space: nowrap;
    display: inline-block;
    padding: 3px 5px;
    font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
}
#surfingkeys_omnibarSearchArea>span {
    display: inline-block;
    color: #aaa;
    font-size: 20px;
    width: auto;
}
#surfingkeys_omnibarSearchArea>input {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    height: 34px;
    margin-bottom: 0;
    padding: 0px 0px 0px 0.5rem;
    background-color: #000;
    border-style: none;
    width: 70%;
    outline: none;
}
#surfingkeys_omnibarSearchArea {
    display: block;
    margin: 0.5rem 1rem;
    background-color: #000;
    border-bottom: 1px solid #999;
}
#surfingkeys_omnibarSearchResult {
    padding-bottom: 1rem;
    max-height: 600px;
    overflow: hidden;
}
#surfingkeys_omnibarSearchResult>ul {
    padding: 0;
}
#surfingkeys_omnibarSearchResult>ul>li {
    margin: 0rem 0.6rem;
    padding: 0.4rem;
    display: block;
}
#surfingkeys_omnibarSearchResult li.focused {
    background-color: #444;
}
#surfingkeys_omnibarSearchResult li div.title {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}
#surfingkeys_omnibarSearchResult li div.url {
    color: #aaa;
}
#surfingkeys_omnibarSearchResult li span.annotation {
    float: right;
    color: #aaa;
}
#surfingkeys_Hints >div {
    position: absolute;
    display: block;
    font-size: 10pt;
    font-weight: bold;
    padding: 0px 2px 0px 2px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF785), color-stop(100%,#FFC542));
    color: #000;
    border: solid 1px #C38A22;
    border-radius: 3px;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
}
surfingkeys_mark {
    background-color: #ff0;
}
div.surfingkeys_cursor {
    background-color: #000;
    padding: 8px 4px;
}
div.surfingkeys_bubble {
    display: none;
    position: absolute;
    padding: 9px;
    border: 1px solid #999;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    color: #222;
    background-color: #ffd;
    z-index: 2147483646;
    font-size: 14px;
}
div.surfingkeys_bubble * {
    color: #000 !important;
}
div.surfingkeys_arrowdown {
    left: 0;
    position: absolute;
    width: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #999;
    background: transparent;
}
div.surfingkeys_arrowdown_inner {
    left: 2px;
    position: absolute;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffd;
    background: transparent;
}
div.surfingkeys_frame {
    position: absolute;
    border: 4px solid #C38A22;
    box-sizing: border-box;
    z-index: 2147483646;
}
div.surfingkeys_tabs {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 9999999999999;
}
div.surfingkeys_tabs_fg {
    position: fixed;
    z-index: 2147483646;
}
div.surfingkeys_tabs_bg {
    position: fixed;
    z-index: 2147483640;
    background-color: #eee;
    opacity: 0.2;
}
div.surfingkeys_tab {
    display: inline-block;
    border-radius: 3px;
    padding: 10px 20px;
    margin: 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DAE6F5), color-stop(100%,#B0CCEF));
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
}
div.surfingkeys_tab_title {
    font-size: 10pt;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-bottom: 5px;
    color: #000;
}
div.surfingkeys_tab_url {
    font-size: 10pt;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
}
div.surfingkeys_tab_hint {
    display: inline-block;
    float:right;
    font-size: 10pt;
    font-weight: bold;
    padding: 0px 2px 0px 2px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF785), color-stop(100%,#FFC542));
    color: #000;
    border: solid 1px #C38A22;
    border-radius: 3px;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
}
