#sk_keystroke {
    border-radius: 5px 5px 0 0 !important;
    border-bottom: 0 !important;
    right: 15px !important;
}
#sk_keystroke:not(.expandRichHints) {
    padding: 0 0.3em 0.1em !important;
}
#sk_keystroke > div {
    margin: 5px 12px 5px 0 !important;
}
#sk_keystroke .kbd-span {
    margin-right: 5px !important;
    width: 45px !important;
}