body {
    margin: 5% 10%;
    width: 80%;
}
.ace_editor {
    display: inline-block;
}
#mappings_container {
    font-size: 0;
    width: 100%;
}
textarea {
    display: inline-block;
    box-sizing: border-box;
    padding-left: 5px;
}
#save_container {
    float: right;
}
#save_container>a {
    padding-right: 8px;
    border-right: 1px solid #000;
}
.infoPointer {
    cursor: pointer;
    padding: 0px 2px;
    text-decoration: underline;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF785), color-stop(100%,#FFC542));
    border: solid 1px #C38A22;
    border-radius: 2px;
}
.info {
    padding: 8px;
    margin: 8px;
    border: solid 2px #c8c8c8;
    border-radius: 8px;
    background: #e7e7e7;
}

span.tip {
    padding-left: 60px;
    color: #04ad23;
}
div.aphost {
    display: inline-block;
    width: 200px;
    color: blue;
}
div.aphost>span.remove {
    cursor: pointer;
}

#searchAliases>div, #basicMappings>div {
    display: inline-block;
    padding: 1px 20px;
    border-left: 1px solid #ccc;
}
#searchAliases div.remove {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    padding-right: 10px;
}
#searchAliases span.prompt {
    font-size: 24px;
}

span.annotation {
    width: 240px;
    display: inline-block;
}
kbd {
    white-space: nowrap;
    display: inline-block;
    padding: 3px 5px;
    font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    vertical-align: middle;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
}
.kbd-span {
    width: 80px;
    display: inline-block;
    cursor: pointer;
}
div.pressedKey {
    text-align: center;
    padding: 50px;
}
div.pressedKey kbd {
    font-size: 24pt;
    padding: 16px;
}
#keyPicker {
    overflow: auto;
    position: fixed;
    width: 80%;
    max-height: 80%;
    top: 10%;
    left: 10%;
    text-align: left;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
    z-index: 2147483298;
    padding: 1rem;
    background: white;
}
#resetSettings {
    color: blue;
    cursor: pointer;
}
span.highlight {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF785), color-stop(100%,#FFC542));
}
.proxyPair {
    border-radius: 8px;
    background: #f1f1f1;
    padding: 20px;
    margin: 8px 0px;
}
div.deleteProxyPair {
    float: right;
    cursor: pointer;
}
#addProxyPair {
    float: right;
}
.proxyPair input, #localPath {
    width: 520px;
}
@media only screen and (max-width: 767px) {
    body {
        margin: 0px 8px;
        width: initial;
    }
    .proxyPair input, #localPath {
        width: initial;
    }
}
