surfingkeys_mark {
    background-color: #ff0;
    color: #000;
}
div.surfingkeys_cursor {
    background-color: #0642CE;
    color: #0642CE;
    padding: 0px 2px;
}
#sk_hints>div {
    position: absolute;
    display: block;
    font-size: 8pt;
    font-weight: bold;
    padding: 0px 2px 0px 2px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF785), color-stop(100%,#FFC542));
    color: #000;
    border: solid 1px #C38A22;
    border-radius: 3px;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
}
.hintsForTextNode>div {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aaa), color-stop(100%,#fff)) !important;
}
#sk_emoji {
    z-index: 2147483000;
    position: absolute;
    display: block;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    background: white;
    border-radius: 0px 0px 4px 4px;
}
#sk_emoji>div>span {
    padding-right: 8px;
    font-size: 18pt;
    vertical-align: middle;
}
#sk_emoji>div {
    border-bottom: 1px solid #eee;
    padding: 4px 8px;
}
#sk_emoji>div.selected {
    background: #3174e2;
    color: white;
}
