surfingkeys_mark {
    background-color: #ff0;
    color: #000;
}
div.surfingkeys_cursor {
    background-color: #0642CE;
    padding: 8px 4px;
}
#sk_hints >div {
    position: absolute;
    display: block;
    font-size: 8pt;
    font-weight: bold;
    padding: 0px 2px 0px 2px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF785), color-stop(100%,#FFC542));
    color: #000;
    border: solid 1px #C38A22;
    border-radius: 3px;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
}
