body {
    margin: 0;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}
#sk_omnibar {
    display: none;
    overflow: auto;
    position: fixed;
    width: 80%;
    max-height: 80%;
    top: 10%;
    left: 10%;
    background: #000;
    text-align: left;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
    border: 1px solid #222;
    z-index: 2147483000;
}
#sk_omnibarSearchArea>span {
    display: inline-block;
    color: #aaa;
    font-size: 20px;
    width: auto;
}
#sk_omnibarSearchArea>input {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    height: 34px;
    margin-bottom: 0;
    padding: 0px 0px 0px 0.5rem;
    background-color: #000;
    border-style: none;
    width: 70%;
    outline: none;
}
#sk_omnibarSearchArea {
    display: block;
    margin: 0.5rem 1rem;
    background-color: #000;
    border-bottom: 1px solid #999;
}
#sk_omnibarSearchResult {
    padding-bottom: 1rem;
    max-height: 600px;
    overflow: hidden;
}
#sk_omnibarSearchResult>ul {
    padding: 0;
}
#sk_omnibarSearchResult>ul>li {
    margin: 0rem 0.6rem;
    padding: 0.4rem;
    display: block;
}
#sk_omnibarSearchResult li.focused {
    background-color: #444;
}
#sk_omnibarSearchResult li div.title {
    font-weight: bold;
    text-align: left;
}
#sk_omnibarSearchResult li div.url {
    color: #aaa;
}
#sk_omnibarSearchResult li span.annotation {
    float: right;
    color: #aaa;
}
#sk_status {
    display: none;
    position: fixed;
    bottom: 0;
    left: 70%;
    z-index: 2147483000;
    background-color: #000;
    padding: 4px 8px 0 8px;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #777;
    font-size: 12px;
}
#sk_find {
    color: #fff;
    background-color: #000;
    border-style: none;
    outline: none;
}
#sk_keystroke {
    background-color: #000;
    padding: 6px;
    position: fixed;
    float: right;
    bottom: 0px;
    right: -2rem;
    z-index: 2147483000;
}
#sk_usage, #sk_popup {
    overflow: auto;
    position: fixed;
    width: 80%;
    max-height: 80%;
    top: 10%;
    left: 10%;
    background: #000;
    text-align: left;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
    border: 1px solid #222;
    z-index: 2147483298;
    padding: 1rem;
}
#sk_usage * {
    font-size: 10pt;
}
#sk_usage table {
    width: 100%;
}
#sk_usage td.keyboard {
    text-align: right;
    padding: 2px 8px;
}
#sk_usage kbd {
    white-space: nowrap;
    display: inline-block;
    padding: 3px 5px;
    font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    color: #111;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
}
div.sk_frame {
    position: absolute;
    border: 4px solid #C38A22;
    box-sizing: border-box;
    z-index: 2147483000;
}
#sk_clipboard {
    position: fixed;
    z-index: -999;
    top: 0;
    left: 0;
    opacity: 0;
}
#sk_banner {
    background-color: #000;
    padding: 0.5rem;
    position: fixed;
    left: 0px;
    top: -3rem;
    z-index: 2147483000;
    width: 100%;
}
div.sk_tabs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2147483000;
}
div.sk_tabs_fg {
    position: fixed;
    z-index: 2147483001;
}
div.sk_tabs_bg {
    position: fixed;
    z-index: 2147483299;
    background-color: #eee;
    opacity: 0.2;
}
div.sk_tab {
    display: inline-block;
    border-radius: 3px;
    padding: 10px 20px;
    margin: 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DAE6F5), color-stop(100%,#B0CCEF));
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
}
div.sk_tab_wrap {
    display: inline-block;
}
div.sk_tab_icon {
    display: inline-block;
    vertical-align: middle;
}
div.sk_tab_icon>img {
    width: 18px;
}
div.sk_tab_title {
    display: inline-block;
    vertical-align: middle;
    font-size: 10pt;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 5px;
    color: #000;
}
div.sk_tab_url {
    font-size: 10pt;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
}
div.sk_tab_hint {
    display: inline-block;
    float:right;
    font-size: 10pt;
    font-weight: bold;
    padding: 0px 2px 0px 2px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF785), color-stop(100%,#FFC542));
    color: #000;
    border: solid 1px #C38A22;
    border-radius: 3px;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.3);
}
div.sk_bubble {
    position: absolute;
    padding: 9px;
    border: 1px solid #999;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    color: #222;
    background-color: #ffd;
    z-index: 2147483000;
    font-size: 14px;
}
div.sk_bubble * {
    color: #000 !important;
}
div.sk_arrowdown {
    left: 0;
    position: absolute;
    width: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #999;
    background: transparent;
}
div.sk_arrowdown_inner {
    left: 2px;
    position: absolute;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffd;
    background: transparent;
}
