:host {
    all: initial;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}
iframe.sk_ui {
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    height: 0px;
    z-index: 2147483647;
}
